.App {
  text-align: center;
}

.app-body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #39615e;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(6px + 2vmin);
  color: white;
  border-radius: 15px;
}

.typing-area{
  display: flex;
  flex-direction: row;
  padding: 25px;
  border-radius: 7px;
  background-color: rgb(154, 194, 179);
  border: 0px solid white;
}

.column{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-link {
  color: white; /* o el color que prefieras */
  text-decoration: none; /* opcional: para quitar el subrayado */
}

.custom-link:hover {
  color: lightgray; /* opcional: color en hover */
}

.text-box{
  width: 55px;
}

.title{
  margin: 10px;
}

.btn-primary{
  margin: 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
