.root{
  margin: 0px;
}

.app-body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #39615e;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  font-size: calc(6px + 2vmin);
  color: white;
  border-radius: 15px;
}

.typing-area{
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;*/
  box-sizing: border-box;
  padding: 25px;
  margin: 20px;
  border-radius: 7px;
  background-color: rgb(154, 194, 179);
  border: 0px solid white;
  padding: 10px;
}

.title{
  text-align: center ;
  white-space: nowrap;
  display: inline-block;
  font-size: calc(1.5rem + 1vw);
}


.prefix-dropdown {
  display: grid;
  grid-template-columns: 25px 25px;
  width: auto;
  box-sizing: border-box;
  justify-content: space-around;
}

#dropdown{
  width: 450px;
  width: auto;
  box-sizing: border-box;
  cursor: pointer; 
}

label {text-wrap: nowrap; }

#inputNumber {
  /* height: 37px; */
  width: auto;
  box-sizing: border-box;
  cursor:auto;
}

.custom-link {
  color: white; /* o el color que prefieras */
  text-decoration: none; /* opcional: para quitar el subrayado */
}

.custom-link:hover {
  color: lightgray; /* opcional: color en hover */
}

.title{
  margin: 25px 10px 10px 10px;
}

.btn-primary{
  margin: 15px;
}

.typing-area > col > input

.full-number{
  color: rgb(255, 255, 255);
  font-weight: 500;
}

@media (min-width: 768px){
  .typing-area > .col :first-child {
    padding: 0 25px 0 0;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
